body {
    margin: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    background-color: #fff;
    text-align: center;
}

th {
    top: 0;
    background-color: #673AB7;
    color: #fff;
}

td {
    border-bottom: 1px solid #dddddd;
}

input[type=text] {
    margin: 25px;
    width: 20%;
}
.button {
    text-align: center;
    margin: 10px;
}