*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
    font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    color: #838486;

}

button {
    border: none;
    color: #838486;
    background-color: #f5f6f8;

}


.borded {
    border-top: 1px solid #e4e4e4;
}

.borded > .button {
    border-right: 1px solid #e4e4e4;
}

.borded > .button:last-child {
    border-right: 0;
}



.condensed {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: -1px;

}

.alingRight {
    text-align: right;
}

.alingCenter {
    text-align: center;
}

.colorRed {
    color: #d97d6e;
}

.colorBlue {
    color: #4e91c6;
}

.bgBlue {
    color: #ffffff;
    background-color:  #4e91c6;
}

.bgLight {
    background-color: #fafafa;
}


.row {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: flex-start;
}


.header {
    height: 60px;
    background-color: red;
}

.content {
    flex: 1;
    background-color: green;
    display: flex;
    flex-direction: row;
}

.footer {
    height: 100px;
    background-color: blue;
}

.cackContainer {
    margin: auto;
    width: 40%;
    min-width: 640px;
}

.calcBody {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f5f6f8;
    display: flex;
    flex-direction: column;

}


.calcBody input[type='text']{
    border: none;
    width: 100%;
    margin: 0;
    border: none;
    background-color: #f5f6f8;
    text-align: right;


}


.calcScreen {
    height: 4rem;
    padding: 0.5rem 2rem;
    font-size: 3rem;
    color: #000000;

}

.calcResult {
    height: 3rem;
    padding: 0.5rem 2rem;
    font-size: 2rem;
    color: #ababad;

}


.button {
    width: 14.29%;
    height: 3rem;
    font-size: 1.5rem;
    padding: 0.5rem 0;

}
